
$navigation-height: 100px;
    
.wrapper {
  background-color: $color-background;
  height: $navigation-height;
}
  
.container {
  display: flex;
  height: 100%;
  justify-content: space-between;
  padding-bottom: 30px;
  padding-top: 30px;
}
  
.logo {
  display: block;
  flex-shrink: 0;
  height: 100%;
  
  &-image {
    height: 100%;
    width: auto;
  }
}
  
.menu {
  @include reset-list;
  
  align-items: center;
  display: flex;
  margin-right: 0;
  padding-left: 36px;
  
  
  .menu-link {
    border: 1px solid $color-border;
    margin-right: -1px;
  
    &:hover {
      background-color: #1a1a1a;
      color: #fff;
    }
  }
  
  &-item--current {
    .menu-link {
      background-color: $color-accent;
      color: $color-white;
    }
  }
  
  &-link {
    color: $color-text;
    display: inline-block;
    font-weight: 700;
    padding: 7px 18px;
    text-decoration: none;
    transition: color 0.2s ease-out;
  
    &:hover,
    &:focus {
      color: $color-contrast;
    }
  }
}
